<body class="profile">
  <%= render "shared/menu" %>
  
  <div class="profilemiddle">
  <% if user_signed_in? %>
  <h1>Hi, <%= current_user.firstname %>!</h1>
<% end %>

<%= render "skills/skillsform" %>

</body>
