<!-- <ul>
  <% @reviews.each do |review| %>
    <li>
        Product: <%= review.book.title %><br>
        Author: <%= review.book.author %><br>
        User:   <%= review.user.first_name %><br>
        Review: <%= review.content %>
    </li>
  <% end %>
</ul> -->