// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*CSS for Photos Page */
.photospage{
  margin-top: 100px;
  margin-left: 50px;
  background: rgba(238, 238, 238, .9);
  width: 900px;
  height: 500px;
  padding: 30px;
  border-radius: 30px;
}

.photoslogo{
  margin-bottom: 100px;
}


// Header


// body



// nav