.profile{
  background: white;
}

.profilemiddle{
  margin-top: 100px;
  margin-left: 20px;
}


.myskills{
width: 100%;
margin: 0 auto;
border-color: black;
border-radius: 8px;
border-width: 2px;
border-style: solid;
padding: 10px;
float: left;
}

.myskills h1{
color: rgb(36, 155, 247);
}

.tumbling{
width: 40%;
height: 400px;
border-color: black;
border-radius: 8px;
border-width: 2px;
border-style: solid;
padding: 5px;
float: left;
}

.stunting{
width: 40%;
height: 400px;
border-color: black;
border-radius: 8px;
border-width: 2px;
border-style: solid;
padding: 5px;
float: left;
}

.myfeed{
width: 100%;
margin: 0 auto;
border-color: black;
border-radius: 8px;
border-width: 2px;
border-style: solid;
padding: 10px;
float: left;
}